body {
    margin: 0;
    padding: 0;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;

}

/* header part start */

header {
    width: 100%;
    height: 500px;
    background: black;
    margin: 50px 0;
    border-radius: 30px;
}

.start {
    display: flex;
    position: relative;
}

.text,
.img {
    width: 50%;
}

.text {
    position: absolute;
    padding-top: 14%;
    padding-left: 9%;
}

.img {
    position: absolute;
    top: 65px;
    left: 460px;
}

.text-1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.text-2 {
    width: 80%;
    font-size: 11px;
    font-weight: 100;
    color: rgb(219, 219, 219);
    margin: 10px 0;
}

.img img {
    width: 90%;
}

.watch {
    background: red;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
}

.watch:hover {
    background: white;
    color: red;
}

/* header part end */

/* another blog part start */

.another-blog {
    width: 100%;
    margin-bottom: 50px;
}

.blogs {
    display: flex;
    position: relative;
}

.routine {
    position: sticky;
    width: 25%;
    height: 240px;
    background: black;
    border-radius: 5px;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    top: 0;
    left: 0;


}

.routine button {
    width: 200px;
    background: rgb(255, 255, 255);
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 25px;

}

.routine .red {
    background: red;
    color: white;
}

.players {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.player {
    width: 212px;
    box-shadow: 3px 4px 0px 0px rgba(235, 235, 235, 0.88);
}

.player img {
    width: 100%;
}

.player-details {
    padding-left: 10px;
    color: black;
}

.player-text {
    font-size: 13px;
    margin: 15px 0;
}

.player-icon {
    display: flex;
    margin-top: -13px;

}

.ten {
    margin-right: 25px;
}

.sakib {
    margin-right: 10px;
}

/* another blog part end */

/* footer part start */
.last-part {
    width: 100%;
    height: 300px;
    background: black;
    padding-top: 140px;
}

.last-part h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.last-part hr {
    height: 0;
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

.item {
    text-align: center;
}

.item ul li {

    display: inline-block;
}

.item ul li a {
    text-decoration: none;
    color: #B9B9B9;

    margin-right: 20px;
    font-size: 14px;
}


/* footer part end */

/* 2nd website start */
.hoitece-na {
    width: 100%;
    margin-bottom: 50px;
}

.country {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.flags {
    color: black;
    width: 212px;
    height: 155px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(212, 212, 212, 0.75);

}

.flag {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;

}

.germany img {
    width: 80%;

}

.france img {
    width: 80%;
}

.flag h3 {
    color: black;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.flag-details {
    text-align: center;
}

.flag-details h4 {
    margin-top: 2px;
}

.flag-details p {
    font-size: 12px;
    font-weight: 200;
    margin-top: -15px;
}

/* 2nd website end */